<br><br><br><br><br><br><br><br><br><br><br>
<div  class="col-4 offset-4  animated flipInY">
  <mdb-card cascade="true" narrower="true">
    <div class="view view-cascade card-header danger-color white-text" style="padding: 5%">
      <h4 class="card-header-title text-center"><i class="fa fa-lock" aria-hidden="true"></i><b> Acesse a sua conta</b></h4>
    </div>
    
    <mdb-card-body>
      <form #f="ngForm" (ngSubmit)="login()">

        <div class="md-form" [ngClass]="getFormGroupClass(femail.invalid, femail.dirty)">
          <i class="fa fa-envelope prefix"></i>
          <input type="email" id="email" name="email" class="form-control" mdbInputDirective [mdbValidate]="false" [(ngModel)]="user.email" #femail="ngModel" required>
          <label  for="email">Seu email</label>
          <span *ngIf="femail.invalid && femail.dirty" class="red-text">* Insira seu email</span>
        </div>

        <div class="md-form" [ngClass]="getFormGroupClass(fpassword.invalid, fpassword  .dirty)">
          <i class="fa fa-lock prefix"></i>
          <input type="password" id="fpassword" name="password" class="form-control" mdbInputDirective [mdbValidate]="false" [(ngModel)]="user.password" #fpassword="ngModel" required>
          <label for="fpassword">Sua senha</label>
          <span *ngIf="fpassword.invalid && fpassword.dirty" class="red-text">* Insira sua senha</span>
        </div>
        <br>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" (click)="cancelLogin()" color="danger" class="waves-light" mdbBtn mdbWavesEffect>Cancelar login<i class="fa fa-ban ml-2 fa-1x animated flip"></i></button>
          <button type="button" [disabled]="f.invalid" (click)="login()" color="info" class="waves-light" mdbBtn mdbWavesEffect>Efetuar login<i class="fa fa-sign-in ml-2 fa-1x  animated flip"></i></button>
        </div>

        <div class="alert alert-error" role="alert" *ngIf="message">
          <strong>Email e/ou senha incorreto(s).</strong>
        </div>
      </form>
    </mdb-card-body>
  </mdb-card>    
</div> 