<mdb-navbar SideClass="navbar  navbar-dark danger-color">
    <mdb-navbar-brand>
        <a  color="deep-orange" style="padding: 10px; background-color: transparent; color: white;" 
        data-toggle="modal" data-target="#basicExample" (click)="frame.show()" class="fa fa-bars fa-2x"></a>
    </mdb-navbar-brand>
</mdb-navbar>

<div mdbModal #frame="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
    <div class="modal-content">

      <div class="modal-header danger-color">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()" style=" color: #ad1457;">
            <span aria-hidden="true" class="white-text"><b>×</b></span>
        </button>
        <img src="./../../assets/imgs/hd.png" width="180px" class="offset-3"><br>
      </div>

      <div class="modal-body">
      </div>

      <div class="modal-footer justify-content-center">
        <div class="text-center view overlay">
            <img src="./../../assets/imgs/angpng.png" width="150px" class="animated rotateIn img-fluid">
        </div>
      </div>

    </div>
  </div>
</div>
