<br><br><br><br><br>
<div  class="col-6 offset-3  animated flipInY">
  <mdb-card cascade="true" narrower="true">
    <div class="view view-cascade card-header danger-color white-text" style="padding: 4%">
      <h4 class="card-header-title text-center"><i class="fa fa-lock" aria-hidden="true"></i><b> Adicionar usuário</b></h4>
    </div>
    
    <mdb-card-body>
      <form #f="ngForm">

        <div class="md-form">
          <i class="fa fa-envelope prefix"></i>
          <input type="email" id="email" name="email" class="form-control" mdbInputDirective [mdbValidate]="false" [(ngModel)]="user.email" #femail="ngModel" required>
          <label  for="email">Email</label>
          <span *ngIf="femail.invalid && femail.dirty" class="red-text">* Insira seu email</span>
        </div>

        <div class="md-form">
          <i class="fa fa-lock prefix"></i>
          <input type="password" id="fpassword" name="password" class="form-control" mdbInputDirective [mdbValidate]="false" [(ngModel)]="user.password" #fpassword="ngModel" required>
          <label for="fpassword">Senha</label>
          <span *ngIf="fpassword.invalid && fpassword.dirty" class="red-text">* Insira sua senha</span>
        </div>

        <div class="md-form">
          <i class="fa fa-address-book prefix" style="margin-right: 10%"></i>
          <select  type="password" id="fprofile" name="fprofile" class="form-control" mdbInputDirective [mdbValidate]="false" [(ngModel)]="user.profile" #fprofile="ngModel" required style="width: 40%; margin-left: 50px; ">
            <option>ROLE_ADMIN</option>
            <option>ROLE_CUSTOMER</option>
            <option>ROLE_TECHNICIAN</option>
          </select>
          <span *ngIf="fprofile.invalid && fprofile.dirty" class="red-text">* Insira o profile</span>
        </div>

        <br>
        <div class="modal-footer d-flex justify-content-center">
          <button type="submit" (click)="registrar()" [disabled]="f.invalid" color="info" class="waves-light" mdbBtn mdbWavesEffect>Efetuar login<i class="fa fa-sign-in ml-2 fa-1x  animated flip"></i></button>
        </div>

        <div [ngClass]="classCss" role="alert" *ngIf="message">
          <strong>{{ message.text }}</strong>
        </div>
      </form>
    </mdb-card-body>
  </mdb-card>    
</div> 